@import '~cube-ui/src/common/stylus/mixin.styl'

// 解决一像素边框问题
// borders-1px($color)
//   position: relative
//   &:after
//     display: block
//     position: absolute
//     bottom: 0
//     left: 0
//     width: 100%
//     border-bottom: 1px solid $color
//     content: ' '

// // 2X图和3X图
// bg-image($url)
//   background-image: url($url + '@2x.png')
//   @media(-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
//     background-image: url($url + '@3x.png')